/* Footer Main  */

/* Google maps style 
iframe{
    border:1px solid black;
    border-radius: 10px;
    width: 100%;
}
*/
.table h5{
    color: black;
}

.table tbody tr td{
    color: black;
    padding: 20px;
}

.contain{
    padding: 40px 0px;
}